.containerCompetencePoker{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
}

.titreCompetencePoker{
    width: 100%;
    height: 100px;
    background-color: #cbf1b2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    margin-bottom: 150px;
    font-weight: bold;
}
.titreCompetencePoker p{
 height: 50%;
 line-height: 90px;
}

.allCompetences{
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.enteteCompetence,.milieuCompetence,.finCompetence{
    width: 100%;
    height: 33%;
}

.milieuCompetence{
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.enteteCompetence,.finCompetence{
    display: flex;
    align-items: center;
    justify-content: center;
}


.premiereCompetence,.deuxiemeCompetence,.troisiemeCompetence,.quatriemeCompetence,.cinquiemeCompetence{
    width: 300px;
    height: 200px;
    position: relative;
}

.eUnpremiereCompetence{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-color: white;
    color: #cbf1b2;
    border: #cbf1b2 3px solid;
    border-radius: 90%;
    font-size: 25px;
    transform: rotateY(270deg);
}

.eDeuxpremiereCompetence{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    transform: rotateY(270deg);
    background-color: #cbf1b2;
    border: none;
    color: white;
    border-radius: 90%;
    font-size: 25px;
}

.invisible{
    opacity:0;
}

.eDeuxpremiereCompetence:hover,.eUnpremiereCompetence:hover{
    cursor: pointer;
}

.rotationDeBaseDeux{
    transform: rotateY(0deg);
}

.rotationDeBase{
    transform: rotateY(270deg);
}

.premiereRotations{
    animation: premiereRotation 0.5s linear forwards;
}

@keyframes premiereRotation{
    0%{  transform: rotateY(0deg);}
    100%{  transform: rotateY(90deg);}
}

.deuxiemeRotations{
    animation: deuxiemeRotation 0.5s linear forwards;
}

@keyframes deuxiemeRotation{
    0%{  transform: rotateY(270deg);}
    100%{  transform: rotateY(360deg);}
}

.visible{
    animation: visibles 1s linear forwards;
}

@keyframes visibles {
    0%{opacity:0;}
    100%{opacity:1;}
}