*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

textarea::placeholder {  
	text-align: center; 
    font-size: 25px;
    color: black;
    opacity:0.2 ;
}


.titre1{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

/*partie de la saisie titre du form */
.formCreerPost{
    margin: 0 auto;
    margin-top: 50px;
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    border : rgb(178,34,34) 2px solid
}

.formPostPartieTitre{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}

.formPostPartieTitre div:nth-child(2),.formPostPartieTitre div:nth-child(3){
    font-size: 17px;
    color: red;
    opacity: 0.8;
}


.partieSaisieTitre{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
.partieSaisieTitre p:nth-child(1) {
    height: 100px;
    width: 60%;
}

.partieSaisieTitre p:nth-child(1) textarea{
    height: 100px;
    width: 100%;
    font-size: 21px;
    text-decoration: none;
}

.partieSaisieTitre p:nth-child(2) span{
    font-size: 19px;
}





/*partie de la saisie titre du message */
.FormPartieSaisieMessage{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
}

.FormPartieSaisieMessage div:nth-child(2){
    font-size: 17px;
    color: red;
    opacity: 0.8;
}

.partieSaisieMessage{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;
}

.partieSaisieMessage p:nth-child(1) {
    height: 100px;
    width: 60%;
}

.partieSaisieMessage p:nth-child(1) textarea{
    height: 250px;
    width: 100%;
    font-size: 21px;
    text-decoration: none;
}

.partieSaisieMessage p:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.partieSaisieMessage p:nth-child(2) span{
    font-size: 19px;
}

.btnValiderFormPost{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    border: none;
    margin: 0 auto;
    background-color: #1e847f;
    color: white;
    font-size: 20px;

}




/*partie affichage post.*/
.contenuPost{
    width: 80%;
    height: 600px;
    border: solid 5px black;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ententePost{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    border-bottom: solid 5px black;
    background-color: rgb(178,34,34);
}

.ententePost p:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 20%;
    font-size: 23px;
    border-right: solid 5px black;
}

.ententePost p:nth-child(2){
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    font-size: 33px;
    padding: 25px;
    
}

.corpsPost{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    overflow-y: scroll;
}


.partieAffchageDuMsg,.PartieSaisirNewMsg{
    width: 50%;
    height: 100%;
    border: solid 1px black;
}


.partieAffchageDuMsg div{
    height: 80%;
    width: 100%;
}

.PartieSaisirNewMsg{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

.PartieSaisirNewMsg textarea{
    width: 100%;
    height: 70%;
}

.corpsPost2{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top:50px;
}

.afficherInfoMsgg{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: yellow;
}

.afficherMssg{
    height: 100%;
    width: 50%;
    background-color: #1e847f;
}

