section {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: relative;
    overflow: hidden;
  }
  
  .invisibleContact {
    opacity: 0;
  }
  
  .visibleContact {
    opacity: 1;
  }
  
  .contactBasDePage {
    height: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #cbf1b2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contactBasDePage2{
    content:"";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
  }
 
  .hautPageContact{
    width: 100%;
    height: 80%;
  }

  .basDePageContact{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
  }

  .titreContact{
    width: 100%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 80px;
    letter-spacing: 10px;
  }

  .photoContact{
    width: 50%;
    height: 40%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 80px;
    margin: 0 auto;
    transform: translateX(150%);
  }

  .photoContact img{
      height: 80px;
      
  }


  .contenuContact{
    width: 50%;
    height: 30%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 25px;
    transform: translateX(150%);
    margin: 0 auto;
  }

  .contenuContact p:nth-child(3){
    margin-right: 30px;
  }

  .contenuContact p:nth-child(3) a,.contenuContact p:nth-child(2) a{
    text-decoration: none;
    color: white;
  }

  .basDePageContact p{
    width: 100%;
    height: 60%;
    text-align: left;
    color: white;
    font-size: 30px;
    padding-left: 30px;
  }


  .ApparitionBlocContact{
    animation: apparitionDuBlocContact 1s forwards;
  }

  @keyframes apparitionDuBlocContact {
    0%{transform: translateY(0%);}
    100%{transform: translateY(-100%);}
  }

  .ApparitionLogoContact{
    animation: apparitionLogo 1.3s forwards;
  }

  @keyframes apparitionLogo {
    0%{transform: translateX(150%);}
    100%{transform: translateX(0%);}
  }

  .apparatitionDuTitreContact{
    animation: apparitionTitreContact 1s forwards;
  }

  @keyframes apparitionTitreContact {
    0%{opacity: 0;}
    100%{opacity: 1;}
  }

  .disparitionDuTitreContact{
    animation: disparitionTitreContact 1s forwards;
  }

  @keyframes disparitionTitreContact {
    0%{opacity: 1;}
    100%{opacity: 0;}
  }